.Profile {
  text-align: center;
}

.Profile {
  display: block;
  width: 270px;
  background-color: slategray;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 20px;
  
}


